.survey-name-block {
    float: left;
    width: 600px;
    margin: 20px 350px 0 0;
}

.survey-description-block {
    margin: 0 300px 10px 0;
}

.survey-controllers-block {
    margin: 0 0 20px 0;
}

.survey-main-controllers-block {
    float: left;
    margin: 0 220px 0 0;
}

.new-survey-block {
    float: left;
    margin: 0 40px 150px 0;
    width: 650px;
    min-height: 600px;
}

.survey-settings-block {
    margin: 10px 0 20px 0;
}

.survey-last-setting-block {
    margin: 10px 0 100px 0;
}

.icon-in-survey-settings-block {
    float: left;
    margin: 0 20px 0 0;
}

.question-block {
    float: left;
    padding: 10px 0 0 0;
    margin: 0 0 15px 0;
    width: 92.5%;
}

.edit-question-icon {
    margin: 0 0 25px 0;
}

.edit-question-block {
    margin: 10px 0 15px 0;
    height: 40px;
}

.edit-question-block-header {
    width: 100%;
    margin: 0 0 30px;
}

.edit-question-block-main-header {
    float: left;
    width: 60%;
}

.question-buttons-block {
    margin: 10px 0 0 0;
    width: 100%;
}

.question-button-save {
    float: left;
    margin: 0 20px 0 400px;
}

.question-move-block {
    float: left;
}

.textarea-block {
    margin: 25px 0 5px 0;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 19px 0 0 0;
}

.rating > input {
    display: none
}

.rating > label {
    position: relative;
    width: 0.8em;
    font-size: 2.5vw;
    color: #FFD600;
    cursor: pointer
}

.rating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
    opacity: 1 !important
}

.rating > input:checked ~ label:before {
    opacity: 1
}

.rating:hover > input:checked ~ label:before {
    opacity: 0.4
}

.disabledRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 19px 0 0 0;
}

.disabledRating > label {
    position: relative;
    width: 0.8em;
    font-size: 2.5vw;
    color: #cbcbcb;
}

.disabledRating > input {
    display: none
}

.scale-block {
    width: 150px;
}

.progress-bar-block {
    margin: 25px 150px 0 150px;
}

.edit-page-block {
    margin: 15px 15px 15px 0;
    height: 50px;
}

.question-checkbox-block {
    float: left;
    margin: 5px 80px 20px 25px;
}

.main-question-card {
    margin: 0 0 15px 25px;
}

.question-edit-block {
    float: left;
    margin: 7px 11px 5px 0;
}

.edit-question-description {
    float: left;
    width: 538px;
}

.pages-near-progress-bar {
    float: left;
    margin: 6px 0 0 20px;
}

.progress-block {
    float: left;
    margin: 10px 0 0 30px;
    width: 250px
}

.edit-name-page {
    float: left;
    margin: 0 220px 20px 20px;
    width: 350px;
}

.edit-page-icon {
    float: left;
    margin: 3px 0 15px 0;
}

.answer-editing-block {
    float: left;
    margin: 7px 0 0 12px;
}

.answer-block {
    float: left;
    margin: 2px 0 0 0;
}

.errors-block {
    float: left;
    margin: 0 40px 10px 0;
    width: 650px;
}

.errors-list {
    color: red;
}