
@section Styles
{
    <link rel="stylesheet" href="~/css/surveyCreation.css" />
}

<partial name="_MenuPartial" />

<div class="survey-name-block">
    <form>
        <div class="form-group row">
            <label for="surveyName" class="col-sm-2 col-form-label"><h4>Name: </h4></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="surveyName">
            </div>
        </div>
    </form>
</div>

<div class="survey-description-block"> 
    <p>Questions: 0 Pages: 1</p>
</div>

<div class="survey-controllers-block">
        <div class="survey-main-controllers-block">
            <button type="button" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary">Save as template</button>
            <button type="button" class="btn btn-secondary">Cancel</button>
        </div>
     <button class="btn btn-secondary" type="button" onclick="addPage()">New page</button>
</div>

<div class="new-survey-block">
    <ul class="nav nav-tabs" id="pageTabs" role="tablist"></ul>
    <div class="tab-content" style="border: 1px solid #dfe3e7;"></div>
                    </div>

<div class="survey-settings-block">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Question type
        </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                <button type="button" onclick="addQuestionWithAnswers('radio')" class="btn btn-light" style="background-color: white; border: 1px solid white">
                            <div class="icon-in-survey-settings-block">
                        <i class="bi bi-list-ul"></i>
                            </div>
                            Possible answers(One)
                        </button>
                </li>
                <li class="list-group-item">
                <button type="button" onclick="addQuestionWithAnswers('checkbox')" class="btn btn-light" style="background-color: white; border: 1px solid white">
                            <div class="icon-in-survey-settings-block">
                        <i class="bi bi-list-check"></i>
                            </div>
                            Possible answers(Many)
                        </button>
                </li>
                <li class="list-group-item">
                <button type="button" onclick="addQuestionWithTextEditor()" class="btn btn-light" style="background-color: white; border: 1px solid white">
                            <div class="icon-in-survey-settings-block">
                        <i class="bi bi-type"></i>
                            </div>
                            Text
                        </button>
                </li>
                <li class="list-group-item">
                <button type="button" onclick="addQuestionWithFileInput()" class="btn btn-light" style="background-color: white; border: 1px solid white">
                            <div class="icon-in-survey-settings-block">
                        <i class="bi bi-file-earmark-fill"></i>
                            </div>
                            File
                        </button>
                </li>
                <li class="list-group-item">
                <button type="button" onclick="addQuestionWithRating()" class="btn btn-light" style="background-color: white; border: 1px solid white">
                            <div class="icon-in-survey-settings-block">
                        <i class="bi bi-star"></i>
                            </div>
                            Rating
                        </button>
                </li>
                <li class="list-group-item">
                <button type="button" onclick="addQuestionWithScale()" class="btn btn-light" style="background-color: white; border: 1px solid white">
                            <div class="icon-in-survey-settings-block">
                        <i class="bi bi-segmented-nav"></i>
                            </div>
                            Scale
                        </button>
                </li>
            </ul>
    </div>
</div>

<div class="survey-last-setting-block">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Survey parameters
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"  id="anonymousSurvey">
                    <label class="form-check-label" for="anonymousSurvey">
                        Anonymous survey
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"  id="questionNumbers" onchange="updateQuestionsDescription()">
                    <label class="form-check-label" for="questionNumbers">
                        Question have number
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"  id="pageNumbers" onchange="updatePageNumbersBlock()">
                    <label class="form-check-label" for="pageNumbers">
                        Page have number
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="randomOrderOfQuestions">
                    <label class="form-check-label" for="randomOrderOfQuestions">
                        Random order of questions
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"  id="requiredFieldsAsterisks"  onchange="updateQuestionsDescription()">
                    <label class="form-check-label" for="requiredFieldsAsterisks">
                        Required fields asterisks
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"  id="fieldProgressBar" onchange="updateProgressBarBlock()">
                    <label class="form-check-label" for="fieldProgressBar">
                        Field progress bar
                    </label>
                </div>
            </li>
        </ul>
    </div>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/28.0.0/classic/ckeditor.js"></script>
<script src="js/surveyCreation.js"></script>