@model string

@{
    ViewData["Title"] = "404 Error";
} 

<div class="alert alert-danger mt-1 mb-1">
    <h1>404 Not Found!</h1>
    <p>
        <h4>User with id = @Model cannot be found!</h4>
    </p>
</div>