@using Microsoft.AspNetCore.Identity
@using iTechArt.Survey.Domain.Identity
@using System.Security.Claims

@inject SignInManager<User> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark">Hello @User.FindFirstValue("DisplayName")!</a>
        </li>
        <li class="nav-item">
            <div class="btn-group">
                <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark">          </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-action="Login" asp-controller="Account">Login</a>
        </li>
    }
</ul>
